<div id = "buffer" class="py1">
</div>


<div id = "mainWrapper" class = "container-fluid">
  <div class = "row">
    <div class = "col-md-1 offset-1 text-white bg-dark text-center font-weight-bold">
      <div>
        <h5>Endgame selection</h5>
      </div>

      <div>
        <h5><%= @inputs%></h5>
      </div>

    </div>

    <div class = "col-md-8 text-white bg-secondary text-center font-weight-bold" id = "Board">
      <h5>(board here)</h5>
    </div>

  </div>
</div>


