<div id = "buffer" class="py1">
</div>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-10 offset-1 text-white bg-dark rounded text-center font-weight-bold mb-3">
      <h1>Endgame trainer</h1>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col-md-10 offset-1 text-white bg-dark rounded text-center">
      <div>
        <h3>Settings</h3>
      </div>

      <div class = "text-left">
        <h5>Use the checkboxes below to select the endgames you want to include in your training set</h5>
      </div>

      <div class="btn-group-vertical float-sm-left" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input type="checkbox">Basic mating patterns
        </label>
        <label class="btn btn-secondary">
          <input type="checkbox" checked="checked">Single pawn
        </label>
        <label class="btn btn-secondary">
          <input type="checkbox" checked="checked">Multiple pawns
        </label>
        <label class="btn btn-secondary">
          <input type="checkbox" checked="checked">Queen vs. pawns
        </label>
        <label class="btn btn-secondary">
          <input type="checkbox" checked="checked">Rook vs. pawns
        </label>
        <label class="btn btn-secondary">
          <input type="checkbox" checked="checked">Bishop vs. pawns
        </label>
        <label class="btn btn-secondary">
          <input type="checkbox" checked="checked">Knight vs. pawns
        </label>
        
      </div>

    </div>
  </div>
  <div class = "col-md-10 offset-1 text-white rounded text-center py1">
    <button class="btn btn-primary btn-block">
      Train me!
    </button>
  </div>
  <div class = "row py1">
    <div class = "col-md-5 offset-1 text-white bg-dark rounded text-center">
      <h1>Manage library</h1>
    </div>
  </div>
</div>
